{:paths ["src/dev/clojure" "src/dev/resources"]

 :deps
 {org.clojure/clojure {:mvn/version "1.10.1"}

  org.clojure/data.json {:mvn/version "1.0.0"}

  pedrorgirardi/literate.client {:git/url "https://github.com/pedrorgirardi/literate.client"
                                 :sha "0136b091c621f261d038c28ab5451d1073464a46"}

  pedrorgirardi/literate {:git/url "https://github.com/pedrorgirardi/literate"
                          :sha "7f1fe48534ce1cb7a8e86df28a482425efb60c7e"}}}
